:root {
  --background-image-url: url("https://content.faforever.com/images/background/background-aeon-uef.jpg");
  color: black;
}

body {
  margin: 0;
  padding: 0;
  background-color: grey;
  font-family: 'Source Sans Pro', sans-serif;
}

input {
  outline: none;
}

.background {
  background-image: var(--background-image-url);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -100;
  position: fixed !important;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  height: auto !important;
}

.error {
  text-align: center;
  background-color: white;
  border: 1px solid #ea2f10;
  font-weight: bold;
  color: #ea2f10;
  padding: 0.5rem;
  margin: 1rem 0;
}

.error-info {
  font-weight: normal;
}

header {
  background-color: #111111;
  color: white;
  padding: 0;
  margin: 0 0 1rem 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

#leftheader {
  flex-basis: 50%;
  text-align: left;
}

#leftheader img {
  position: relative;
  height: 62px;
  float: left;
  border-radius: 50%;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
  margin: 0 1rem -1rem 0;
}

#leftheader h1 {
  margin: 0.5rem 0 0 0;
  padding: 0;
}

#rightheader {
  flex-basis: 50%;
  text-align: right;
}

#rightheader p {
  margin-right: 0.5rem;
}

.main-card {
  border-radius: 2px;
  max-width: 30rem;
  width: 90%;
  margin: 5rem auto;
  padding: 1rem;
  background-color: rgba(220, 220, 220, 0.8);
  box-shadow: 3px 4px 5px 5px rgba(0, 0, 0, 0.2);
}

.main-card .main-card-inner {
  width: 80%;
  margin: 0 auto;
}

.main-card input {
  width: 100%;
  padding: 0.4rem 0.6rem;
  margin: -1px auto;
  border-radius: 0;
  border: 1px solid #ccc;
}

.main-card input[type=submit] {
  margin-top: 0.3rem;
  color: #fff;
  background-color: #f04124;
  border-color: #ea2f10;
  font-weight: bold;
}

.main-card input[type=submit]:hover {
  background-color: #d32a0e;
  border-color: #b1240c;
}

#form-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: 1rem;
}

#form-header-left {
  flex-basis: 35%;
  align-self: center;
  text-align: center;
}

#form-header img {
  width: 100px;
  height: 100px;
}

#form-header-right {
  flex-basis: 65%;
  font-weight: bolder;
  font-size: 1.8rem;
  text-align: left;
  margin: auto 0;
}

#client-header {
  border-bottom: 1px solid black;
  margin: 0;
}

footer {
  margin-top: 1rem;
  text-align: center;
  font-size: 0.9rem;
}

footer a {
  text-decoration: none;
}

footer p, ul {
  margin: 1rem 0 0 0;
  padding: 0;
  list-style-type: none;
}

li {
  display: inline-block;
  padding: 0;
}

a, a:visited {
  color: black;
}

a:hover {
  color: #d32a0e;
}

.oauth-scopes li {
  display: grid;
  background-color: white;
  border: 1px solid #ea2f10;
  border-left: 5px solid #ea2f10;
  padding: 0.5rem;
  margin: 0.5rem 0;
}

.oauth-scopes div {
  grid-column: 1;
}

.oauth-scopes i {
  grid-column: 2;
  margin: auto 0 auto auto;
}


.flex-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.flex-container form {
  margin-top: 1rem;
  flex-basis: 50%;
}

#denial-form {
  margin-right: 0.5rem;
}

#confirmation-form {
  margin-left: 0.5rem;
}

#denial-form input[type=submit] {
  background-color: white;
  color: #f04124;
}

#client-details {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

#client-header {
  text-align: center;
  font-weight: bolder;
  font-size: 1.8rem;
}

#client-logo {
  flex-basis: 30%;
  align-self: center;
  text-align: right;
}

#client-logo img {
  width: 40px;
  padding: 0.5rem 0.5rem;
}

#client-urls {
  flex-basis: 70%;
  align-self: center;
}

#client-url {
  margin: 0.5rem 0;
}

#legal {
  font-size: 0.7rem;
  margin: 0.5rem 0;
}

#legal li {
  padding: 0;
}

.pipe-separated li {
  padding: 0 0.5rem;
  border-left: 1px solid black;
}

.pipe-separated li:first-of-type {
  border: 0;
}

#legal a, #client-url a {
  padding: 0 0.5rem;
}

#legal a:nth-child(2) {
  border-left: 1px solid black;
}

#scope-header {
  padding: 0.5rem 0;
  border-bottom: 1px solid black;
  font-weight: bold;
  font-size: 1.2rem;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
