<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title layout:title-pattern="$LAYOUT_TITLE $CONTENT_TITLE">FAForever</title>
    <link rel="stylesheet" href="../../META-INF/resources/css/style.css" th:href="@{/css/style.css}" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
          integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
          crossorigin="anonymous"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <script type="application/javascript" src="../../META-INF/resources/js/bg-switcher.js"
            th:src="@{/js/bg-switcher.js}"></script>
</head>
<body>
<div class="background"></div>
<header>
    <div id="leftheader">
        <a href="https://www.faforever.com"><img src="https://faforever.com/images/faf-logo.png"
                                                 alt="FAForever Logo"></a>
        <h1 th:text="#{title}" layout:fragment="header-title">FAForever</h1>
    </div>
    <div id="rightheader">
        <p th:if="${currentUser != null}" th:text="#{header.loggedInAs(${currentUser.username})}">You are logged in as [User]</p>
    </div>
</header>
<div layout:fragment="content">
    <!--Content goes here-->
</div>
</body>
</html>
