<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<ul th:fragment="socialIcons">
    <li><a target="_blank" href="https://discord.com/invite/hgvj6Af"><i class="fab fa-discord"
                                                                        aria-label="FAF Discord"></i></a>
    </li>
    <li><a target="_blank" href="https://www.youtube.com/c/ForgedAllianceForever"><i class="fab fa-youtube"
                                                                                     aria-label="FAF Youtube"></i></a>
    </li>
    <li><a target="_blank" href="https://www.facebook.com/ForgedAllianceForever"><i class="fab fa-facebook"
                                                                                    aria-label="FAF Facebook"></i></a>
    </li>
    <li><a target="_blank" href="https://github.com/FAForever/"><i class="fab fa-github"
                                                                   aria-label="FAF Github"></i></a></li>
    <li><a target="_blank" href="https://www.patreon.com/faf"><i class="fab fa-patreon"
                                                                 aria-label="FAF Patreon"></i></a></li>
</ul>
</body>
</html>