<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{login.title}">FAForever Login</title>

    <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz" rel="stylesheet" type="text/css">
    <link href="https://faforever.com/styles/css/site.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
</head>
<body>
<div class="background hero"></div>
<div class="card login-card">
    <h1 th:text="#{login.title}">FAForever Login</h1>
    <h2 th:text="#{consent.title}">Authorize application</h2>

    <h2 th:text="${consentRequest.getClient().clientName}">Client name</h2>
    <p th:text="#{consent.appRequest}">This app would like to:</p>
    <ul>
        <li th:each="scope : ${consentRequest.requestedScope}"
            th:text="${#messages.msgOrNull('oauth2.scope.'+scope) == null ?
                     #messages.msg('oauth2.scope.textMissing', scope) : #messages.msg('oauth2.scope.'+scope)}">
            Scope
        </li>
    </ul>
    <input name='user_oauth_approval' value='false' type='hidden'/>
    <div class="form-group button-bar">
        <form id='denialForm' name='denialForm' th:action="@{/consent}" method='post'>
            <input type="hidden" th:name="consent_challenge" th:value="${challenge}" th:if="${challenge != null }"/>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" th:if="${_csrf != null }"/>
            <input name='action' value='deny' type='hidden'/>
            <input name="deny" th:value="#{consent.deny}" type="submit" class="btn"/>
        </form>
        <form id='confirmationForm' name='confirmationForm' th:action="@{/consent}" method='post'>
            <input type="hidden" th:name="consent_challenge" th:value="${challenge}" th:if="${challenge != null }"/>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" th:if="${_csrf != null }"/>
            <input name='action' value='permit' type='hidden'/>
            <input name="authorize" th:value="#{consent.authorize}" type="submit" class="btn btn-danger"/>
        </form>
    </div>
</div>
</body>

</html>
