<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title th:text="#{login.title}">FAForever Login</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous"/>
  <link rel="stylesheet" href="../META-INF/resources/css/style.css" th:href="@{/css/style.css}"  type="text/css"/>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
  <script type="application/javascript" src="../META-INF/resources/js/bg-switcher.js" th:src="@{/js/bg-switcher.js}"></script>
</head>
<body>
<div class="background"></div>
<header>
  <div id="leftheader">
    <a href="https://www.faforever.com"><img src="https://faforever.com/images/faf-logo.png" alt="FAForever Logo"></a>
    <h1>FAForever Login</h1>
  </div>
  <div id="rightheader">
    <!--    <p>You are logged in as [User]</p>-->
  </div>
</header>
<div class="main-card">
  <div class="main-card-inner">
    <form name="login-form" th:action="@{/oauth2/login}" method="post">
      <div id="form-header">
        <div id="form-header-left"><img src="https://faforever.com/images/faf-logo.png" alt="FAForever Logo"></div>
        <h2 id="form-header-right" th:text="#{login.welcomeBack}">Welcome back, commander!</h2>
      </div>

      <div class="error" th:if="${loginFailed}">
        <i class="fas fa-exclamation-triangle"></i>
        <span th:text="#{login.badCredentials}">Username or password was wrong</span>
      </div>

      <div class="error" th:if="${loginThrottled}">
        <i class="fas fa-exclamation-triangle"></i>
        <span th:text="#{login.throttled}">Too many of your login attempts have failed. Please wait some time before trying to login again.</span>
      </div>

      <input type="hidden" name="login_challenge" th:value="${challenge}" th:if="${challenge != null }"/>
      <input type="text" required id="usernameOrEmail" name="usernameOrEmail" placeholder="Username or Email" th:placeholder="#{login.usernameOrEmail}">
      <input type="password" required id="password" name="password" placeholder="Password" th:placeholder="#{login.password}">
      <input type="submit" name="login" value="Log in" th:value="#{login.loginAction}"/>
    </form>

    <footer>
      <ul class="pipe-separated">
        <!-- no closing li to avoid whitespace -->
        <li><a href="#" th:href="${passwordResetUrl}" th:text="#{login.forgotPassword}">Forgot password</a>
        <li><a href="#" th:href="${registerAccountUrl}" th:text="#{login.registerAccount}">Register account</a>
      </ul>
      <ul>
        <li><a target="_blank" href="https://discord.com/invite/hgvj6Af"><i class="fab fa-discord"
                                                                            aria-label="FAF Discord"></i></a></li>
        <li><a target="_blank" href="https://twitter.com/falliancef"><i class="fab fa-twitter"
                                                                        aria-label="FAF Twitter"></i></a></li>
        <li><a target="_blank" href="https://www.youtube.com/c/ForgedAllianceForever"><i class="fab fa-youtube"
                                                                                         aria-label="FAF Youtube"></i></a>
        </li>
        <li><a target="_blank" href="https://www.facebook.com/ForgedAllianceForever"><i class="fab fa-facebook"
                                                                                        aria-label="FAF Facebook"></i></a>
        </li>
        <li><a target="_blank" href="https://github.com/FAForever/"><i class="fab fa-github"
                                                                       aria-label="FAF Github"></i></a></li>
        <li><a target="_blank" href="https://www.patreon.com/faf"><i class="fab fa-patreon"
                                                                     aria-label="FAF Patreon"></i></a></li>
      </ul>
    </footer>
  </div>
</div>
</body>
</html>
