<html layout:decorate="~{layout/card}" th:with="headerText=#{login.title},title=#{login.title}" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div layout:fragment="card-content">
    <div id="form-header">
        <div id="form-header-left"><img src="https://faforever.com/images/faf-logo.png" alt="FAForever Logo"></div>
        <h2 id="form-header-right" th:text="#{ban.title}">You are Banned from FAForever</h2>
    </div>

    <div class="error">
        <div>
            <span th:text="#{ban.expiration}">Ban expiration time:</span>
            <span th:unless="${permanentBan}" th:text="${#temporals.format(banExpiration, 'dd-MM-yyyy HH:mm O')}">01-01-1970 00:00 UTC</span>
            <span th:if="${permanentBan}" th:text="#{ban.permanent}">Never</span>
        </div>
        <div>
            <span th:text="#{ban.reason}">Reason:</span>
            <span th:text="${banReason}">Bad Behavior</span>
        </div>
    </div>

    <footer layout:fragment="oauth-footer" th:text="#{ban.appeal}">You may appeal your ban by emailing moderation@faforever.com</footer>

</div>
</html>
