{@com.faforever.web.BanData banData}
{#include default}
    <div class="main-card">
    <div class="main-card-inner">
    <div>
        {#include includes/logoHeader title=msg:ban_title()}{/include}

        <div class="error">
            <div>
                <span>{msg:ban_expiration()}:</span>
                {#if !banData.permanent}
                <span>{banData.expiresAt.format('dd-MM-yyyy HH:mm O')}</span>
                {#else}
                <span>{msg:ban_permanent()}</span>
                {/if}
            </div>
            <div>
                <span>{msg:ban_reason()}</span>
                <span>{banData.reason}</span>
            </div>
        </div>

        <footer>{msg:ban_appeal()}</footer>

    </div>
    </div>
    </div>
{/include}