<html layout:decorate="~{layout/card}" th:with="headerText=#{login.title},title=#{login}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div layout:fragment="card-content">
    <div id="form-header" th:replace="~{fragments/logoHeader :: logoHeader ( #{verification.title} )}"></div>

    <div class="error">
      <div>
        <div class="error-info" th:text="#{steam.reason}">In order to play on FAForever, we need to verify that you own a legal copy of Supreme Commander Forged Alliance. You can verify ownership on the website at</div>
        <a href="https://www.faforever.com/account/link" th:text="${accountLink}"> https://www.faforever.com/account/link </a>
      </div>
    </div>

  <footer>
    <a th:text="#{steam.faq}" href="https://forum.faforever.com/topic/252/why-do-i-need-to-link-my-account-to-steam">
      For more information on why ownership verification is required click here
    </a>
  </footer>
</div>
</html>
