{@com.faforever.web.LoginData loginData}
{#include default}
    <div class="main-card">
    <div class="main-card-inner">
    <div>
        <form name="login-form" method="post">
            {#include includes/logoHeader title=msg:login_welcomeBack()}{/include}
            <div id="form-header"></div>

            {#if loginData.loginFailed}
            <div class="error">
                <i class="fas fa-exclamation-triangle"></i>
                <span>{msg:login_badCredentials()}</span>
            </div>
            {/if}

            {#if loginData.loginThrottled}
            <div class="error">
                <i class="fas fa-exclamation-triangle"></i>
                <span>{msg:login_throttled()}</span>
            </div>
            {/if}

            <input type="hidden" name="challenge" value="{loginData.loginChallenge}"/>
            <input type="hidden" name="{inject:csrf.parameterName}" value="{inject:csrf.token}" />
            <input type="text" name="usernameOrEmail" required  placeholder="{msg:login_usernameOrEmail()}">
            <input type="password" name="password" required placeholder="{msg:login_password()}">
            <input type="submit" name="login" value="{msg:login_loginAction()}"/>
        </form>

        <footer>
            <ul class="pipe-separated">
                <!-- no closing li to avoid whitespace -->
                <li><a href="{inject:quteHelper.settings.passwordResetUrl()}">{msg:login_forgotPassword()}</a>
                <li><a href="{inject:quteHelper.settings.registerAccountUrl()}">{msg:login_registerAccount()}</a>
            </ul>
            {#include includes/socialIcons}{/include}
        </footer>
    </div>
    </div>
    </div>
{/include}